# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Entorno
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store
desktop.ini

# Word temp
~$*.docx
